include mixins/cta
extends layout

block header
    h1(class="spark-title")
        i Spark
        b *

block panels
    ol.panels
        mixin headerPanel(true, true)
        mixin localPassion(true, true)
        mixin yourSupport(true, true)
        mixin outOfPoverty(true, true)

block content
    link(rel='stylesheet', href='/stylesheets/home.css')
   
    section#home
        .container
            #hero
                img(src="/images/home-hero.jpg", alt="bla")

                #primary-callout
                    p Spark* works alongside local changemakers as they bring people in their communities out of extreme poverty
                    
                    ul
                        li
                            mixin cta('fund', 'fund-a-changemaker', 'A Changemaker', 'Find', '/change-maker')

                        li
                            a#play-video(href="http://www.youtube.com/watch?v=A_0A-zI9mGg&feature=youtu.be")
                                span
                                    | Play video

            #secondary-callout
                .container
                    p.important
                        | In the next decade Spark* will help 1 million people out of extreme poverty by finding and enabling 1000 local Changemakers in some of the world’s poorest countries.        

                    p
                        | We think that the best approaches to helping people move out of extreme poverty come when local changemakers stand up with local solutions to local challenges. We exist to find and support these local changemakers through entrepreneurship training, ongoing support and funding.  

                    ol

                        li#enable
                            a(href="#")
                                | See how
                                span Spark*
                                | enables changemakers


                        li#find
                            a(href="#")
                                | Find a
                                span local change maker

                        li#you
                            a(href="#")
                                | See how
                                span you
                                | can support

                        li#out-of-poverty
                            a(href="#")                            
                                | 1 million out
                                i of extreme
                                u poverty

append scripts
    script(src="/scripts/video-box.js")

