.panels
    &.spark-panels
        margin-bottom 0

        li
            position relative
            vertical-align top

            &:before
                content ""
                width panelWidth
                height panelWidth
                position absolute
                left 0

        &:hover
            .header-panel-our-training-and-support
                h3
                    &:before
                        background transparent

        .header-panel-our-training-and-support
            z-index 55

            &:before
                background white
                opacity 0.5
                z-index -1
                height navHeight

            &:after
                borderWidth=30px
                arrow(borderWidth, white, top)
                opacity 0.7
                left (panelWidth/2) - borderWidth

            h3:after
                z-index -5

    &.you-panels
        margin-bottom 0

        li
            position relative
            vertical-align top

            &:before
                content ""
                width panelWidth
                height panelWidth
                position absolute
                left 0

        &:hover
            .header-panel-your-support
                h3
                    &:before
                        background transparent

        .header-panel-your-support
            z-index 55

            &:before
                background white
                opacity 0.5
                z-index -1
                height navHeight

            &:after
                borderWidth=30px
                arrow(borderWidth, white, top)
                opacity 0.7
                left (panelWidth/2) - borderWidth

            h3:after
                z-index -5

    &.one-million-panels
        margin-bottom 0

        li
            position relative
            vertical-align top

            &:before
                content ""
                width panelWidth
                height panelWidth
                position absolute
                left 0

        &:hover
            .header-panel-people-out-of-poverty
                h3
                    &:before
                        background transparent

        .header-panel-people-out-of-poverty
            z-index 55

            &:before
                background white
                opacity 0.5
                z-index -1
                height navHeight

            &:after
                borderWidth=30px
                arrow(borderWidth, white, top)
                opacity 0.7
                left (panelWidth/2) - borderWidth

            h3:after
                z-index -5