@import 'nib'
@import variables
@import mixins
@import navigation

global-reset()

@font-face {
    font-family: 'garagegothic-blackregular';
    src: url('/fonts/garagegothic-black-webfont.eot');
    src: url('/fonts/garagegothic-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/garagegothic-black-webfont.woff') format('woff'),
         url('/fonts/garagegothic-black-webfont.ttf') format('truetype'),
         url('/fonts/garagegothic-black-webfont.svg#garagegothic-blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'garagegothic-boldregular';
    src: url('/fonts/garagegothic-bold-webfont.eot');
    src: url('/fonts/garagegothic-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/garagegothic-bold-webfont.woff') format('woff'),
         url('/fonts/garagegothic-bold-webfont.ttf') format('truetype'),
         url('/fonts/garagegothic-bold-webfont.svg#garagegothic-boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

[aria-hidden="true"]
    display none

body
    background url(/images/background.png) #fef repeat

    &:before
        height 200px
        position absolute
        top 0
        left 0
        right 0
        z-index -1
        content ""
        background -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%)

strong
    font-weight bold

#container
    width 980px
    margin 0 auto
    background transparent
    font-family bodyFont

h1,
h2
h3,
h4
    font-family sparkFontBold

.spark-title
    color black

    b
        color blue

    i
        display block
        text-indent -9999px

header .spark-title
    height 180px
    
    b
        font-size 300px

.spark-logo
    color black
    font-family sparkFontBold
    b
        color blue

.spark-logo-first
    position absolute
    min-width 825px
    margin-left 77px
    text-align left
    color black
    font-family sparkFontBold
    b
        color blue
    .belives-in
        color #544b43
    .title-head
        font-size 2.5rem
    .title-href
        margin-top -20px
        font-size 2.5rem

.spark-logo-href
    position absolute
    z-index 2
    margin-left 80px
    margin-top -30px
    min-width 833px
    text-align left
    color black
    a 
        z-index 10
        color blue !important
    b
        color blue
    .belives-in
        color #544b43
    .title-href
        font-family sparkFontBold !important
        font-size largeHeadSize !important
select
    background-color subtler
    color white
    font-size largeTextSize
    border none
    height inputHeight
    border-radius 0px

.action-word
    text-transform uppercase

.panels
    text-align center
    margin-bottom 50px
    margin-top baseSpacing

    .nav-box
        height navHeight

    a
        text-decoration none

        h4
            color black

        p
            color black

    li.nav-panel
        display inline-block
        width panelWidth
        position relative

        h3, strong
            &:after 
                position absolute
                top 50%
                right 0             

        h3
            display table-cell
            width panelWidth
            height 160px
            position relative
            font-weight bold
            margin-bottom baseSpacing
            padding 0 35px
            vendor box-sizing, border-box
            vertical-align middle
            text-transform uppercase

            &:after 
                font-size 180px
                line-height 100%
                color subtle
                margin -100px -20px 0 0
            
        h4
            width 80%
            margin 0 auto
            text-transform uppercase
            font-size 24px
            margin-bottom baseSpacing
            height 48px

        strong
            display block
            width panelWidth
            height navImageHeight
            position relative
            font-family sparkFontBold
            color #fff
            font-size 30px
            text-transform uppercase

            .nav-sub-heading
                display table-cell
                vertical-align middle
                height navImageHeight
                width panelWidth

            span
                position relative
                z-index 100

            &:before
                content ""
                position absolute
                top 0
                left 0
                right 0 
                bottom 0
                opacity .3

            &:after 
                font-size 160px
                color #fff  
                margin -90px -19px 0 0
                z-index 100             

        p
            height 70px
            padding 10px
            font-size textSize
            line-height 16px
            text-align left

    .header-panel-our-training-and-support
        &:hover
            h3
                navBg(blue)
                color #ffffff

                b
                    color #ffffff

            h4
                color #ffffff

        .spark-title
            b
                font-size 80px

        strong 
            background url(/images/carousel-spark.jpg)

            &:before
                background blue
                height navImageHeight

        h3, strong
            &:after
                content "+"
                position absolute

        h3
            text-transform none
            font-size 60px

        p
            background blue

    .header-panel-local-passion-and-knowledge
        &:hover
            h3
                navBg(yellow)
                color #ffffff

            h4
                color #ffffff
        strong
            background url(/images/carousel-changemaker.jpg)

            &:before
                height navImageHeight
                background yellow
        
        h3, strong
            &:after
                content "+"

        h3
            color yellow
            font-size 50px
            line-height 40px

        p
            background yellow


    .header-panel-your-support
        &:hover
            h3
                navBg(pink)
                color #ffffff

            h4
                color #ffffff

        strong
            background url(/images/carousel-you.jpg)

            &:before
                height navImageHeight
                background pink

        h3, strong
            &:after
                content "="

        h3
            color pink
            font-size 75px

        p
            background pink

    .header-panel-people-out-of-poverty
        &:hover
            h3
                navBg(green)
                color #ffffff

            h4
                color #ffffff

        strong
            background url(/images/carousel-1mill.jpg)

            &:before
                height navImageHeight
                background green

        h3, strong
            &:after
                display none

        h3
            color green
            font-size 42px
            line-height 38px
            text-align justify

            b, i
                display block

            b
                font-size 52px

            i
                font-size 73px
                margin-top 12px
                font-style normal

        p
            background green

    &.project-panels
        margin-bottom 0

        li
            position relative
            vertical-align top

            &:before
                content ""
                width panelWidth
                height panelWidth
                position absolute
                left 0

        &:hover
            .header-panel-local-passion-and-knowledge
                h3
                    &:before
                        background transparent

        .header-panel-local-passion-and-knowledge
            z-index 55

            &:before
                background white
                opacity 0.5
                z-index -1
                height navHeight

            &:after
                borderWidth=30px
                arrow(borderWidth, white, top)
                opacity 0.7
                left (panelWidth/2) - borderWidth

            h3:after
                z-index -5

footer
    margin 20px 0
    color subtler

#partners

    overflow hidden
    border-top 1px solid subtle
    padding-top 30px
    
    h3
        float left
        text-transform uppercase
        color lighten(pink, 50%)
        font-size 22px
        line-height 50px

    ul
        float left
        margin 0 0 30px 10px

        li

            display inline-block
            margin 0px 35px
            vertical-align middle
            opacity .6

            &:hover
                opacity 1
                transition opacity .4s linear

            img
                height 50px

#social
    ul
        li
            display inline-block
            width 35px
            height 35px
            margin-right 5px

            a
                display block
                width 100%
                height 100%
                text-indent -9999px

        #social-facebook
            background url(/images/social_icon-facebook.png)

        #social-youtube
            background url(/images/social_icon-youtube.png)

        #social-twitter
            background url(/images/social_icon-twitter.png)

        #social-linkedin
            background url(/images/social_icon-linkedin.png)



#touch-comment

    overflow hidden

    ul
        float left
        margin-top 10px

        li
            width 200px
            border-radius 1px
            margin-top 5px
            background: -webkit-linear-gradient(top, #f7efde 0%,#f7efde 25%,#efe7ce 29%,#efe7ce 33%,#f7efde 38%,#f0eade 42%,#f0eade 46%,#efe7ce 50%,#efe7ce 75%,#e7ded3 79%,#efe7ce 83%,#efe7ce 88%,#e7ded3 92%,#e7ded3 100%)
            box-shadow 1px 1px 3px rgba(0, 0, 0, 0.4)

            a
                display block
                width 100%
                height 100%
                text-transform uppercase
                text-align center
                color subtler
                text-decoration none
                font-size 14px
                padding 5px 10px
                vendor box-sizing border-box

                &:hover
                    font-weight bold


    blockquote
        width 50%
        float right
        font-size 26px
        font-family sparkFontBold
        letter-spacing 1px

        cite
            display block
            position relative
            padding 20px 0 0 40px
            text-transform uppercase

            &:before
                content "*"
                position absolute
                left 0px
                font-size 80px
                font-family sparkFontBold
                color blue

#subtle-panels 

    border-top 1px solid subtle
    padding-top 30px
    margin-top 30px

    h3,
    h3 b,
    h4,
    a
        color subtler

    li
        vertical-align top

    ul

        li
            margin-bottom 5px

        &,
        h4
            font-size 12px

        h4
            width auto
            font-family inherit
            font-weight bold
            margin 10px 0

        a
            text-decoration none

            &:hover
                text-decoration underline

    .sub-item
        height 12px
        padding-top baseSpacing

    .panels
        .header-panel-local-passion-and-knowledge,
        .header-panel-your-support,
        .header-panel-people-out-of-poverty,
        .header-panel-our-training-and-support
            &:hover
                h3
                    &:before
                        background transparent

.columns
    width 4 * panelWidth
    margin auto

.column-content
    padding baseSpacing

.column
    display table-cell
    table-layout fixed
    position relative
    vendor(box-sizing, border-box)

    &.single-column
        width panelWidth

    &.double-column
        width 2 * panelWidth
        padding 0

    &.triple-column
        width 3 * panelWidth;

#updates > .left-shifted,
#funders > .left-shifted,
#helpers > .left-shifted
    left-shifted(2)

#updates .update-count,
#funders .funder-count,
#helpers .helper-count
    font-size badgeSize

.project-update {
    position: relative;

    .update-date {
        left-shifted(2);
        right (panelWidth * 2) // the project-update already is padded
        font-size smallHeadSize
    }
}

.category
    padding baseSpacing
    width (135 - baseSpacing)
    font-size labelSize
    color white
    background url(/images/tag-background.png) no-repeat center
    font-family bodyFont

.project-search
    min-height minColumnHeight

    &:before
        min-height minColumnHeight

.project-search, .project-details
    color brown
    font-size textSize
    position relative

    a
        color blueLink

        &.back
            paddedBlock()
            background url(/images/arrow-left-brown.png) no-repeat left center
            padding-left 15px
            color brown
            font-size labelSize

        &.fund
            paddedBlock()
            color pink

    h1, h2, h3, h4
        font-size sectionHeadSize

    h1
        color black
        margin-bottom 5px
        height 100%

        &.funding
            margin-left baseSpacing
    h2
        margin-bottom 15px

        &.updates
            color black
            text-transform uppercase

    h3
        margin-bottom 5px

    h2, h3, h4
        color brown

    h4
        &.tab-title
            color black

    h5
        font-size labelSize
        font-weight bold

    p
        margin-bottom 15px
        line-height spacedLines

    &:before
        content ""
        background subtler
        width panelWidth
        position absolute
        z-index -1
        opacity 0.15
        top 0
        left panelWidth
        height 100%

    .project-entry
        top 0
        width internalPanelWidth
        height projectEntryHeight
        vendor(box-sizing, border-box)
        display inline-block
        margin-left baseSpacing
        color black
        text-decoration none

        img
            width internalPanelWidth
            height 155px
            margin 0
            padding 0

        h4
            background brightYellow
            padding baseSpacing
            font-family bodyFont
            margin-bottom 0
            font-size 130%
            line-height spacedLines
            height 60px
            overflow hidden

            div
                color black
                font-size 70%

            .change-maker
                font-weight bold

        .category
            position absolute
            margin-top -20px
            margin-left -(baseSpacing)
            z-index 4

        .description
            position relative
            padding 20px baseSpacing 0
            font-size 90%
            margin-top -2px
            color brown

            &:before
                transparentBackground(0.3, subtle)

            .mission
                line-height spacedLines
                height 98px
                overflow hidden
                z-index 4

        &:hover
            .description
                color black

                &:before
                    background brightYellow
                    opacity 1.0

            .grant-info
                &:before
                    background yellow
                    opacity 0.7

            .category
                background url(/images/tag-background-hover.png) no-repeat center

    fieldset
        margin-top baseSpacing
        padding baseSpacing

        legend
            display block
            font-family sparkFontBold
            font-size sectionHeadSize
            color brown

.project-search
    input
        visibility hidden
        position absolute

        + label
            padding baseSpacing
            display block
            background linear-gradient(top, lightBrown, darkBrown)
            color white
            border-bottom 1px solid lowlightBrown
            border-top 1px solid highlightBrown
            cursor pointer

            &:after
                    content url(/images/arrow-right-white.png)
                    float right

            &:hover
                background linear-gradient(top, white, lightBrown)
                color brown

                &:after
                    content url(/images/arrow-right-brown-24.png)
                    float right

.project-search
    input:checked + label
        background linear-gradient(top, white, lightBrown)
        color brown

        &:after
            content url(/images/arrow-right-brown-24.png)
            float right

.funding-titles
    padding-top 20px

.project-stats
    width 100%
    height 20px
    padding 0 0 baseSpacing
    li
        float left
        width 50%

        &.funders
            a
                color pink

        &.updates-badge
            a
                color green

.project-detail-block
    padding 0 baseSpacing

    h1
        border-top 1px dotted brown
        padding-top baseSpacing

    .category-statement
        font-family sparkFontBold
        font-size sectionHeadSize
        color subtler
        border-bottom 1px dotted brown
        padding 0 0 baseSpacing

        a
            text-decoration none

            &.category
                display inline-block
                color white
                position absolute
                bottom 3

    .contribute
        width fundingPanelWidth
        float left

    select
        margin baseSpacing
        display block
        width fundSelectWidth
        margin-left 0

.fund-button
    roundedButton()
    width fundingPanelWidth - baseSpacing
    background linear-gradient(top, #7e2854, #d3408b)
    border 1px outset #a93470
    color white
    margin baseSpacing 0

.help-button
    roundedButton()
    width fundingPanelWidth - baseSpacing
    background linear-gradient(top, #e8e1e4, white)
    border 1px outset #8e2c5e
    color pink
    margin baseSpacing 0

.sharing
    clear both
    height: 25px;

    .addthis
        width 140px

    .addthis,
    .facebook
        display inline-block
        vertical-align middle

.grant-info
    position relative
    padding baseSpacing

    .progress-bar
        position relative
        height baseSpacing
        width 100%
        margin 0
        height 10px
        background-color gray
        overflow hidden

        div
            background-color pink
            height 10px
            max-width 100%

    &:before
        position absolute
        background-color subtle
        opacity 0.7
        width 100%
        height 100%
        content ""
        top 0
        left 0
        z-index -1

    .progress-statement
        padding baseSpacing 0
        color black
        margin-left -(baseSpacing/2)
        font-size textSize

        .amount
            font-family sparkFont
            font-size 200%
            padding 0 (baseSpacing / 2)

.change-makers
    position relative
    width 95%
    margin auto
    margin-top 50px
    padding-bottom baseSpacing

    h3
        background lightBrown
        color white
        font-size sectionHeadSize
        padding 5px
        letter-spacing spacedLetters
        position relative

        &:after
            borderWidth = 19px
            arrow(borderWidth, lightBrown, left)
            top 0
            right -(borderWidth * 2)

    &:before
        position absolute
        content ""
        background subtler
        opacity 0.2
        height 100%
        width 100%
        z-index -2



.location
    font-weight bold
    font-size labelSize
    padding baseSpacing 17px
    background url(/images/icon-location.png) center left no-repeat

.find-change-maker
    padding baseSpacing
    padding-left (2*baseSpacing)
    font-family sparkFont

    h1
        font-size largeHeadSize
        color black
        text-transform uppercase

    label
        font-size 150%

    select
        margin 0 baseSpacing
.tabs
    padding baseSpacing

.tab-pane
    background-color brightYellow
    font-size largeTextSize
    padding baseSpacing
    line-height spacedLines

[role="tablist"] > [role="tab"]
    display inline-block
    min-width 100px
    padding (baseSpacing/2) baseSpacing
    background linear-gradient(top, #795d01, #ab9501)
    color white
    border-radius top baseSpacing
    margin-right (baseSpacing/2)
    font-family sparkFontBold
    font-size sectionHeadSize
    cursor pointer
    border 1px outset #c8b956
    border-bottom none

    &.selected
        background brightYellow
        color black

.project-pager
    padding 0 baseSpacing
    background subtle
    background-clip content-box
    text-align center

.pager
    text-transform uppercase
    display inline-block
    li
        pagerItemPadding=3px

        display inline-block
        text-align center
        font-size 10px

        border-left 1px solid white
        
        &:last-child
            border-right 1px solid white

        &.current-page,
        &:hover
            background-color yellow

        a
            display block

        &, a
            color black
            min-width 20px - (2 * pagerItemPadding)
            height 20px
            line-height 20px
            padding 0 pagerItemPadding
            text-decoration: none;

.changemaker-badge
    width 100%

    img
        float left
        width headShotSize
        height headShotSize
        margin-right baseSpacing

    .name
        font-size sectionHeadSize
        font-family sparkFont
        padding baseSpacing
        background brightYellow
        height headShotSize - (baseSpacing * 2)
        text-transform uppercase

.badge
    border-radius 1rem
    background brown
    color white
    width 20px
    padding (baseSpacing/2)
    font-family bodyFont
    font-size labelSize
    margin-right baseSpacing
    text-align center

.updates, .funders-list
    padding baseSpacing

.funders-list
    h2
        text-transform uppercase
        color black

    .details
        radius = 25px
        border-bottom 1px dotted brown
        height ((2 * radius) + baseSpacing)
        position relative
        padding baseSpacing

        .name
            text-transform

        .amount
            position absolute
            height (2 * radius)
            border-radius radius
            background pink
            width (2 * radius)
            text-align center
            float right
            line-height (2 * radius)
            color white
            font-family sparkFontBold
            font-size sectionHeadSize
            right 0
            top baseSpacing

.funding-details
    position relative
    padding-bottom baseSpacing
    top -1px

    .column
        padding-left (2 * baseSpacing)

    &:before
        position absolute
        content ""
        background subtler
        width 100%
        position absolute
        z-index -1
        opacity 0.15
        height 100%
        top 1px

    p
        color brown
        line-height spacedLines
        font-size textSize

    h4
        font-size sectionHeadSize
        font-family sparkFontBold
        position relative
        width 100%

        &.spark:after
            plus()
            position absolute
            line-height 100%
            color #bab197
            right -30px
            top -80px

        &.change-makers-fund
            color yellow

            &:after
                plus()
                position absolute
                line-height 100%
                color #bab197
                right -30px
                top -80px

        &.you
            color pink

            &:after
                position absolute
                content "="
                font-size plusEqualsSize
                line-height 100%
                color #bab197
                font-family sparkFontBold
                font-weight bold
                right -30px
                top -70px

        &.poverty
            color green

        span.emphasise
            font-size largeHeadSize
            display inline-block
            top (baseSpacing/2)
            position relative
            padding 0 (baseSpacing/2)
            font-family sparkFont

a.cancel
    text-align right
    color brown
    display block

.donation-form, .donation-success
    background white
    padding baseSpacing
    margin-left -(baseSpacing)
    margin-top -(baseSpacing * 2)

.error
    color errorColor
    padding-bottom baseSpacing

.donation-form
    position relative

    &:before
        plus()
        position absolute
        opacity 0.4
        top -55px
        left -(2 * baseSpacing)
        vertical-align top

    select.fund
        background-color pink
        display inline
        color white
        margin-left baseSpacing
        border none

    .name-container
        display table-cell

    .fund-from
        margin-top -(inputHeight)

        legend
            margin-left fundSelectWidth + baseSpacing

    label
        display block

    input
        border 1px solid subtler
        box-shadow inset 0 0 0.3rem subtler
        height inputHeight
        border-radius baseSpacing
        margin baseSpacing 0
        display block
        font-size largeTextSize
        padding 0 baseSpacing
        width donationInputWidth

        &.first-name
            border-radius right 0
            border-right none
            float left
            margin-right 0
            width halfDonationInputWidth

        &.last-name
            border-radius left 0
            border-left none
            float left
            margin-left 0
            width halfDonationInputWidth

        &.postcode
            width shortDonationInputWidth

    select
        border 1px solid brown
        color brown
        background-color white
        margin baseSpacing 0

        &.country
            width (donationInputWidth + (2 * baseSpacing))

    .expiry

        .form-column
            float left
            padding-right (baseSpacing * 2)

        select
            float left
            margin-right baseSpacing

        input
            width shortDonationInputWidth

    .donation-options
        input, label
            display inline

        input
            width donationRadioWidth
            vertical-align middle
            margin 0 baseSpacing

    .make-donation
        border-top 1px dotted subtler
        width 100%
        padding-top baseSpacing

.mission-accomplished
    font-size missionAccomplishedSize
    text-transform uppercase
    color pink
    font-family sparkFont

.thanks, .thanks-detail
    width 200px
    float left
    padding baseSpacing

.thanks-detail
    line-height spacedLines

.thanks
    width internalPanelWidth
    font-family sparkFont
    font-size sectionHeadSize
    text-transform uppercase
    text-align center
    color black

    .first-name, .last-name
        color pink
        font-size missionAccomplishedSize
        display block
        margin auto

.remaining-needed
    width 100%
    clear both
    font-family sparkFont
    font-size sparkTextSize
    color black
    line-height spacedLines

    .fund-amount, .remaining-funder-count
        color pink
        font-size sparkLargeTextSize

    .share
        color brown

        .remaining-funder-count
            color brown
            font-size sparkTextSize

.empty_image
    width searchImageWidth
    height searchImageHeight
    background-color subtle
    content ""

.video-holder
    padding baseSpacing 0
    width mainImageWidth
    float right

    img
        width mainImageWidth
        height mainImageHeight

    a
        position relative
        height mainImageHeight
        display block

        &:after
            size = 100px
            content "▶"
            color white
            position absolute
            top (mainImageHeight / 2) - (size / 2)
            left (mainImageWidth / 2) - (size / 2)
            font-size 100px
            opacity 0.7

.legal-text
    background-color legalTextBg
    padding baseSpacing
    margin -(baseSpacing)
    margin-top (2 * baseSpacing)

// Styles for static content

section.static

    font-size 14px
    line-height 20px
    margin-bottom 40px
    
    h1
        font-size 40px
        margin-bottom 20px

    h2
        font-size 30px
        margin-bottom 30px
        color brown

    h3
        font-size 20px
        margin-bottom 10px
        color black

    ul, ol
        margin-left 40px
        margin-bottom 20px

    ul
        list-style outside disc

    ol
        list-style outside decimal

    p
        margin-bottom 20px

    a
        color blue

        &:hover
            color pink

// Hacks for Firefox
@-moz-document url-prefix()
    h1, h2, h3, h4,
    b, .important
        font-weight normal !important

.navigation-utility
    margin-top -20px

.navigation-hygiene,
.navigation-utility
    width 100%
    position absolute
    left 0
    right 0
    background subtle
    height 30px

    .column,
    ul
        display block
        width 4 * panelWidth
        margin 0 auto
        padding 4px
        text-align right


        li, a
            color #fff
            text-decoration none
            line-height 25px

        a:hover
            text-decoration underline

        li
            display inline-block
            margin-left 10px

            &:first-child
                color #333
                float left

.navigation-utility .column
    text-align left

header
    padding-top 20px

p.tmp-img
    margin-top 20px

.you-pg
    h1
        margin-top 30px

#help-button-temp
    display none

.donation-success
    .sharing
        padding 20px

.go-in-path
    text-decoration none
    color black !important
    width 230px !important
    height 100% !important

.message-block
    position relative
    //height messageBlockHeight
    width messageBlockWidth
    padding messageBlockPadding
    background-transparency(lightGreen,0.7)
    .message-block-image
        position relative
        left -100px
        top -100px
    .message-block-location
        margin-top:1px
        color brown
        img
            position relative
            top 3px
        img.go-right-white
            display none
    h2
        color brown
        font-size smallHeadSize
        text-align right
        vertical-align top
    &:hover
        background-transparency(green,1)
        color white
        cursor: pointer
        h2
            color black
        .message-block-location
            color black
        img.go-right-white
            display inline
            background none
        img.go-right-brown
            display none

.for-cta
    text-align center
    margin-top 5px
    .partner-with
        font-size textSizePartner !important
        margin-top 4px
    .btn-fund
        text-align center
        color white !important
        text-decoration none !important
        font-family sparkFontBold
        // float left      
        width 108px
        height 65px
        display inline-block
        font-size largeHeadSize
        letter-spacing 0
        text-transform uppercase
        padding 5px 10px
        border-radius 10px
        letter-spacing LineOrSmallPadding
        background rgb(175,50,116)
        background -moz-linear-gradient(top, rgba(175,50,116,1) 0%, rgba(206,71,149,1) 1%, rgba(206,71,149,1) 4%, rgba(199,59,138,1) 5%, rgba(206,71,149,1) 6%, rgba(206,71,149,1) 8%, rgba(199,59,138,1) 8%, rgba(199,59,138,1) 21%, rgba(189,55,134,1) 22%, rgba(189,55,134,1) 34%, rgba(175,50,116,1) 35%, rgba(189,55,134,1) 36%, rgba(189,55,134,1) 37%, rgba(175,50,116,1) 38%, rgba(189,55,134,1) 39%, rgba(189,55,134,1) 43%, rgba(175,50,116,1) 44%, rgba(189,55,134,1) 45%, rgba(189,55,134,1) 50%, rgba(175,50,116,1) 51%, rgba(175,50,116,1) 53%, rgba(189,55,134,1) 54%, rgba(175,50,116,1) 55%, rgba(175,50,116,1) 57%, rgba(189,55,134,1) 58%, rgba(175,50,116,1) 58%, rgba(175,50,116,1) 100%)
        background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(175,50,116,1)), color-stop(1%,rgba(206,71,149,1)), color-stop(4%,rgba(206,71,149,1)), color-stop(5%,rgba(199,59,138,1)), color-stop(6%,rgba(206,71,149,1)), color-stop(8%,rgba(206,71,149,1)), color-stop(8%,rgba(199,59,138,1)), color-stop(21%,rgba(199,59,138,1)), color-stop(22%,rgba(189,55,134,1)), color-stop(34%,rgba(189,55,134,1)), color-stop(35%,rgba(175,50,116,1)), color-stop(36%,rgba(189,55,134,1)), color-stop(37%,rgba(189,55,134,1)), color-stop(38%,rgba(175,50,116,1)), color-stop(39%,rgba(189,55,134,1)), color-stop(43%,rgba(189,55,134,1)), color-stop(44%,rgba(175,50,116,1)), color-stop(45%,rgba(189,55,134,1)), color-stop(50%,rgba(189,55,134,1)), color-stop(51%,rgba(175,50,116,1)), color-stop(53%,rgba(175,50,116,1)), color-stop(54%,rgba(189,55,134,1)), color-stop(55%,rgba(175,50,116,1)), color-stop(57%,rgba(175,50,116,1)), color-stop(58%,rgba(189,55,134,1)), color-stop(58%,rgba(175,50,116,1)), color-stop(100%,rgba(175,50,116,1)))
        background -webkit-linear-gradient(top, rgba(175,50,116,1) 0%,rgba(206,71,149,1) 1%,rgba(206,71,149,1) 4%,rgba(199,59,138,1) 5%,rgba(206,71,149,1) 6%,rgba(206,71,149,1) 8%,rgba(199,59,138,1) 8%,rgba(199,59,138,1) 21%,rgba(189,55,134,1) 22%,rgba(189,55,134,1) 34%,rgba(175,50,116,1) 35%,rgba(189,55,134,1) 36%,rgba(189,55,134,1) 37%,rgba(175,50,116,1) 38%,rgba(189,55,134,1) 39%,rgba(189,55,134,1) 43%,rgba(175,50,116,1) 44%,rgba(189,55,134,1) 45%,rgba(189,55,134,1) 50%,rgba(175,50,116,1) 51%,rgba(175,50,116,1) 53%,rgba(189,55,134,1) 54%,rgba(175,50,116,1) 55%,rgba(175,50,116,1) 57%,rgba(189,55,134,1) 58%,rgba(175,50,116,1) 58%,rgba(175,50,116,1) 100%)
        background -o-linear-gradient(top, rgba(175,50,116,1) 0%,rgba(206,71,149,1) 1%,rgba(206,71,149,1) 4%,rgba(199,59,138,1) 5%,rgba(206,71,149,1) 6%,rgba(206,71,149,1) 8%,rgba(199,59,138,1) 8%,rgba(199,59,138,1) 21%,rgba(189,55,134,1) 22%,rgba(189,55,134,1) 34%,rgba(175,50,116,1) 35%,rgba(189,55,134,1) 36%,rgba(189,55,134,1) 37%,rgba(175,50,116,1) 38%,rgba(189,55,134,1) 39%,rgba(189,55,134,1) 43%,rgba(175,50,116,1) 44%,rgba(189,55,134,1) 45%,rgba(189,55,134,1) 50%,rgba(175,50,116,1) 51%,rgba(175,50,116,1) 53%,rgba(189,55,134,1) 54%,rgba(175,50,116,1) 55%,rgba(175,50,116,1) 57%,rgba(189,55,134,1) 58%,rgba(175,50,116,1) 58%,rgba(175,50,116,1) 100%)
        background -ms-linear-gradient(top, rgba(175,50,116,1) 0%,rgba(206,71,149,1) 1%,rgba(206,71,149,1) 4%,rgba(199,59,138,1) 5%,rgba(206,71,149,1) 6%,rgba(206,71,149,1) 8%,rgba(199,59,138,1) 8%,rgba(199,59,138,1) 21%,rgba(189,55,134,1) 22%,rgba(189,55,134,1) 34%,rgba(175,50,116,1) 35%,rgba(189,55,134,1) 36%,rgba(189,55,134,1) 37%,rgba(175,50,116,1) 38%,rgba(189,55,134,1) 39%,rgba(189,55,134,1) 43%,rgba(175,50,116,1) 44%,rgba(189,55,134,1) 45%,rgba(189,55,134,1) 50%,rgba(175,50,116,1) 51%,rgba(175,50,116,1) 53%,rgba(189,55,134,1) 54%,rgba(175,50,116,1) 55%,rgba(175,50,116,1) 57%,rgba(189,55,134,1) 58%,rgba(175,50,116,1) 58%,rgba(175,50,116,1) 100%)
        filter: unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#af3274', endColorstr='#af3274',GradientType=0 )")
        text-decoration none
        &:hover
            box-shadow 0 0 40px #777
            color white
    sml
        padding-top 6px
        display block
        font-size labelSize
        font-family bodyFont
        letter-spacing 0


