mixin donationAmountSelector(selected)
    select.fund(name="fund_amount")
        each amount in [5, 10, 25, 50, 100, 500, 1000]
            option(
                value= amount,
                selected= amount === selected ? 'selected' : undefined
            )= "$" + amount
