mixin messageBlock(data, position)
    - var style = ''
    - if (position)
        - style = "left: "+data.person.left+"px; top: "+data.person.top+"px"
    a.go-in-path(href='/1-million-people#'  + data.href)
        .message-block(style=style)
            .img-people
            - if (position)
                - if (data.person.lineImage == '5')
                    img.img-line-last(src="/images/line-" + data.person.lineImage + ".png")
                - else
                    img.img-line(src="/images/line-" + data.person.lineImage + ".png")
            h2= data.person.name
            p.smallFS(style="margin: 0 6px 0 6px;")= data.storyPositiveTitle
            .message-block-location
                img.go-right-brown(src="/images/icon-location-green.png")
                img.go-right-white(src="/images/icon-location-black.png")
                span.small-text= data.project.location
                img.go-right-brown.img-arrow-right(src='/images/arrow-right-brown-24.png')
                img.go-right-white.img-arrow-right(src='/images/arrow-right-white-24.png')
            .line-bottom-green