//- For now it is purely the home link
//- Later it will be account stuff
mixin navigationUtility()
    .column.single-column
        - if (typeof(atHome) === 'undefined')
            a(href='/', title='Home') Home
    - if (false) //- Other nav items in their columns
        .column.single-column
        .column.single-column
            .account-action-signup
                a(href='#', title='Join us') Join us
            .account-action-login
                a(href='#', title='My account') My account
        .column.single-column
            a(href='#', title='Announcements') Announcements