mixin oneMillPplPart(data, flag)
    .oneMillPplPart
        .columns
            .column.triple-column
                a.none-height(name=data.href)
                .title-class
                    h2= data.heading
                    h3 It's tough to move out of extreme poverty 
                      span.black= data.subheading
                .oneMillPplPart-block
                    h4= data.storyNegativeTitle
                    .oneMillPplPart-block-description= data.storyNegative
                    .oneMillPplPart-block-footer= data.bottomParagraph 
                .oneMillPplPart-bottom
                    | Spark* partnered with 
                    span= data.project.changemaker.first_name
                    | &nbsp;to help 
                    span= data.person.name
                    | &nbsp;move out of extreme poverty
                    - if (flag == false)
                        .read-full-story(id='read-' + data.href)
                            span Read full story
                            img.img-arrow-down(src='/images/arrow-down-brown.png')
                        .hide-full-story(id='hide-' + data.href)
                            span Hide full story
                            img.img-arrow-up(src='/images/arrow-up-brown.png')
            .column.single-column.selected-column.left-text
                .ahref-brown-color
                    a(href='#top') Top
                        img.img-arrow-up(src='/images/arrow-up-brown.png')
                .oneMillPplPart-block-right
                    .img-people-right-sleeve
                    .margin-text
                        = data.storyPositiveTitle
        - var notdisplayed = (flag == false) ? 'none;' : 'block;'

        .full-story(style="display:" + notdisplayed)(id='id-'+data.href)
            .columns.fullstory-size
                .column.single-column
                    em
                    .sum-first
                        mixin sparkLogo

                .column.single-column
                        em.two-plus
                        .project-search
                            mixin projectSearchEntry(data.project)
                .column.single-column
                    em.eql
                    .sum-peoples
                        img.pink-peoples(src="/images/pink-peoples.png")
                        .supporters
                            b= data.supporters
                            span supporters
                        .pink-line

                .column.single-column.selected-column
                        .img-left
                            img(src='/images/1-mill-'+data.image+'.jpg')
            .columns
                .column.single-column
                        p.fullstory-one
                            span= data.project.changemaker.first_name
                            | &nbsp;went through the Spark* 
                            span= data.project.location
                            | &nbsp;accelerator in 
                            span= data.project.changemaker.accelerator
                            | .
                        .roles
                            a.spark-role(href="/spark", title="More about Spark* role") More about Spark* role
                .column.single-column

                .column.single-column
                    .helped-top
                        .helped
                            h5 Funded                       
                            p= data.funded
                            h5 Helped
                            p.first-top Among her helpers were :
                            ul
                                li= data.helpedAlpha
                                li= data.helpedBeta
                            .roles
                                a.your-role(href="/you", title="More about Your role") More about Your role
                .column.single-column.selected-column
                    p= data.storyPositive
            .columns   
                .column.column-cta 
                    .spark-or-million 
                        .for-cta
                            .full-story-cta
                                mixin cta('fund', 'fund-a-changemaker', 'A Changemaker', 'Find', '/change-maker')       
                                p.partner-with to partner with
                .column.selected-column.single-column.right-column-cta
