mixin selectField(labelText, name, options, selectedKey)
    .select-field
        label(for="#{name}_select")= labelText
        select(id="#{name}_select", name=name)
            each option in options
                option(
                    value=option.key,
                    selected= selectedKey === option.key ? 'selected' : undefined
                )= option.value
